@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: v.$m;
}

a {
  text-decoration: none;
  color: v.$main-font-color;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  /* * main side margin */
  flex: 1;
  padding: 0 v.$l;
  @include m.flex-column;
  align-items: center;
  justify-content: center;
  position: relative;
}

section {
  margin: v.$l 0;
}

.label {
  @include m.flex-row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .main-content {
    /* * main side margin */
    padding: 0 v.$xl;
  }

  section {
    margin: v.$xl 0;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    /* * main side margin */
    padding: 0 v.$xxxl;
  }

  section {
    margin: v.$xl 0;
  }

  .label {
    width: 90px;
    height: 29px;
  }
}
