@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

a {
  text-decoration: none;
  color: v.$main-font-color;
}

.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  /* * main side margin */
  flex:1;
  padding: 0 v.$l;
  @include m.flex-column;
  align-items: center;
  justify-content: center;
}

section {
  margin: v.$l 0;
}

@media screen and (min-width: 768px) {
  .main-content {
    /* * main side margin */
    padding: 0 v.$xl;
  }

  section {
    margin: v.$xl 0;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    /* * main side margin */
    padding: 0 v.$xxxl;
  }

  section {
    margin: v.$xl 0;
  }
}

