@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
  @include m.flex-row;
  margin: v.$m;
  padding: v.$m;
  border-bottom: 1px solid v.$neon-blue;
  background-color: v.$main-background;
  position: sticky;
  top: 0;
  z-index: 1000;

  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}