@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.dashboard-challenge-card {
  padding: v.$m;
  margin-bottom: 1rem;
  &__content {
    @include m.flex-column;
    justify-content: space-between;
    &__details {
      &-container {
        @include m.flex-column;
        justify-content: center;
        align-items: center;
        gap: v.$s;
      }
      &__header {
        @include m.flex-column;
        gap: v.$s;
        &-container {
          @include m.flex-row;
          justify-content: center;
          align-items: center;
          gap: v.$s;
        }
        &-title {
          font-size: 0.938rem;
          font-family: "Orbitron", sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          text-align: center;
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 170px;
        }
      }
      &__infos {
        @include m.flex-column;
        justify-content: center;
        align-items: center;
        p {
          font-family: Orbitron;
          font-size: 0.625rem;
          font-style: normal;
          font-weight: 400;
          text-transform: uppercase;
          text-align: center;
        }
        &-game {
          color: v.$neon-blue;
        }
        &-category {
          color: v.$yellow;
        }
        &-level {
          color: v.$flame-orange;
        }
      }
      &__footer {
        @include m.flex-row;
        gap: v.$s;
      }
      &__rating-container {
        @include m.flex-row;
        justify-content: center;
        align-items: center;
      }

      &__rating {
        font-family: Orbitron;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        color: v.$yellow;
      }

      &__participations {
        font-family: Orbitron;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &__content {
      &__details {
        &-container {
          @include m.flex-row;
          justify-content: space-between;
        }
        &__header {
          @include m.flex-column;
          gap: v.$s;
          &-title {
            font-size: 0.938rem;
            font-family: "Orbitron", sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
          }
        }
        &__infos {
          @include m.flex-column;
          justify-content: center;
          align-items: flex-start;
          p {
            font-family: Orbitron;
            font-size: 0.7rem;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
            text-align: left;
          }
        }
        &__footer {
          @include m.flex-column;
        }
      }
    }
  }

  @media screen and (min-width: 1440px) {
    &__content {
      @include m.flex-column;
      justify-content: space-between;
      &__details {
        &__rating {
          font-size: 1.5rem;
        }

        &__participations {
          font-size: 1.1rem;
        }
      }
    }
  }
}
