@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.form {
  @include m.flex-column;
  justify-content: center;
  align-items: center;
  gap: v.$s;
  margin-top: v.$m;
  &__entry {
    @include m.flex-column;
    justify-content: center;
    align-items: center;
    gap: v.$s;
    margin-bottom: v.$s;
  }
  &--label {
    font-family: Roboto;
    text-transform: capitalize;
    text-align: center;
  }
  &--button-container {
    @include m.flex-column;
    justify-content: center;
    align-items: center;
    gap: v.$s;
    &__inner {
      @include m.flex-row;
      justify-content: center;
      align-items: center;
      gap: v.$m;
    }
  }

  @media screen and (min-width: 768px) {
    &--button-container {
      @include m.flex-row;
      justify-content: center;
      align-items: center;
      gap: v.$l;
    }
  }
}

.input {
  border: 3px solid transparent;
  padding: 0.5rem 1rem;
  &--video {
    width: 250px;
  }
  &--file {
    cursor: pointer;
    &::file-selector-button {
      color: v.$tertiary-font-color;
      font-family: "Rajdhani", sans-serif;
      font-weight: 500;
      font-size: 0.9rem;
      text-transform: uppercase;
      background: linear-gradient(v.$blue, v.$blue) padding-box,
        linear-gradient(180deg, v.$blue 10%, v.$neon-blue) border-box;
      border-radius: 8px;
      padding: 0.5rem 0.5rem;
      border: 3px solid transparent;
      cursor: pointer;
      margin-right: 1rem;
    }
  }
  &--border {
    outline: none;
    background-image: linear-gradient(#020024, #020024),
      linear-gradient(90deg, #00cfff, #3a91ff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  &::placeholder {
    color: rgb(104, 104, 104);
    font-family: Roboto;
    font-size: 0.8rem;
  }

  @media screen and (min-width: 768px) {
    width: 300px;
    &::placeholder {
      font-size: 1rem;
    }
  }
}

.textarea {
  border: 3px solid transparent;
  width: 275px;
  height: 200px;
  padding: 0.5rem 1rem;
  &--border {
    outline: none;
    background-image: linear-gradient(#020024, #020024),
      linear-gradient(90deg, #00cfff, #3a91ff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  &::placeholder {
    color: rgb(104, 104, 104);
    font-family: Roboto;
    font-size: 0.975rem;
  }

  @media screen and (min-width: 768px) {
    width: 600px;
    height: 220px;
    &::placeholder {
      font-size: 1rem;
    }
  }
}

.select {
  width: 250px;
  cursor: pointer;
  &:focus {
    background-image: linear-gradient(#020024, #020024),
      linear-gradient(90deg, #00cfff, #3a91ff);
  }

  &__option {
    // Correction ici
    color: v.$main-font-color;
    background-color: v.$main-background;

    &--disabled {
      font-size: 1.2rem;
      color: v.$neon-blue;
      margin: 0 auto;
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    width: 300px;
    &::placeholder {
      font-size: 1rem;
    }
  }
}
