@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.status-label {
  @include m.flex-row;
  width: 69px;
  height: 17px;
  padding: 2px 3px;
}

.label--open{
  border-radius: 8px;
  border: 1px solid v.$neon-green;
}

.label--closed{
  border-radius: 8px;
  border: 1px solid v.$neon-red;
}