@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.status-label--open {
  border-radius: 8px;
  border: 1px solid v.$neon-green;
}
.status-label--closed {
  border-radius: 8px;
  border: 1px solid v.$neon-red;
}

