/* Colors */

$main-background: #020024;
$neon-blue: #00CFFF;
$neon-purple: #8A00FF;
$neon-pink: #FF2DCB;
$flame-orange: #FF6A00;
$blue: #3A91FF;
$yellow: #DDAD33;
$neon-green: #00FF9D;
$neon-red: #FF4F4F;

/* Fonts colors */
$main-font-color: #F4F4FF;
$secondary-font-color: #D6F0FF;
$tertiary-font-color: #E7E8E2;

/* Margin Padding */
$s: 0.5rem;
$m: 1rem;
$l: 1.5rem;
$xl: 2rem;
$xxl: 3rem;
$xxxl: 4rem;