@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.25fr 0.25fr 1fr 1fr 1fr 1fr 0.25fr 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "Title"
    "Profil"
    "Challenges"
    "Challenges"
    "Challenges"
    "Challenges"
    "Challenges"
    "Participations"
    "Participations"
    "Participations"
    "Participations";
  &__title {
    grid-area: Title;
  }
  &__challenges {
    grid-area: Challenges;
    border: 1px solid v.$neon-blue;
    border-radius: 8px;
    padding: 1rem;
    &__button-container {
      @include m.flex-column;
      justify-content: center;
      align-items: center;
      gap: v.$s;
    }
  }
  &__profil {
    grid-area: Profil;
    border: 1px solid v.$flame-orange;
    padding: 1rem;
  }
  &__participations {
    grid-area: Participations;
    border: 1px solid v.$yellow;
    border-radius: 8px;
    padding: 1rem;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 1rem 2rem;
    grid-template-areas:
      "Title Title Title Title"
      "Challenges Challenges Profil Profil"
      "Challenges Challenges Participations Participations"
      "Challenges Challenges Participations Participations"
      "Challenges Challenges Participations Participations"
      "Challenges Challenges Participations Participations"
      "Challenges Challenges Participations Participations";
  }

  @media screen and (min-width: 1024px) {
    &__challenges {
      &__button-container {
        @include m.flex-row;
        gap: v.$m;
      }
    }
  }
}

.dashboard section {
  margin: 0;
}
